@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #D9D9D9;
  scroll-behavior: smooth;
}

/* Box Div */
.wrapper .box {
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
}

/* Child Styles */
.wrapper .box span {
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}


@media screen and (max-width: 1024px) {
  .wrapper .box span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
  }
}
